{% extends 'base.html' %}

{% block src %}
{% load static %}
<script src="{% static 'bs/js/html2canvas.js' %}"></script>
<script>
    
    function shoot(){
        html2canvas(document.querySelector('#cam'), {}).then(function(canvas){
            saveAs(cavas.toDataURL(), '.\static\testcapture.jpg');
        });
    }
    function saveAs(url, filename) {
        var link = docmnet.createElement('a');
        if (typeof link.download === 'string') {
            link.href = url;
            link.download.appendChild(link);
            document.body.appendChild(link);
            document.body.removeChild(link);
        }else{
            window.open(url)
        }
    }

    
    
    
</script>
    <style>
        td {
            border:1px solid black;
        }
        #output{
            width:300px;
        }
    </style>

{% endblock %}

{% block contents %}

<body class="container" style='overflow: hidden;'>
    <div class='rounded vh-100 m-2 p-2 d-flex justify-content-center align-items-center bg-light'>
        <table>
            <tr>
                <td width='30px'>
                    캠화면 출력됩니다..
                </td>
                <td width='50%'>
                    <div id='cam'>
                        <img src="http://127.0.0.1:8000/scan/mycam" style='width:500px;'>
                    </div>
                    
                </td>
                <td>
                    <div id='output' style="display: inline-block; top: 4px; position: relative ;border: dotted 1px #ccc; padding: 2px;"></div>
                </td>
            </tr>
        </table>
        <div id='btn_div'>
            <button type='button' id='save' onclick='shoot()' style=''>캡쳐</button>
        </div> 
    </div>
</body>

{% endblock %}