{% extends 'base.html' %}

{% block src %}
{% load static %}
<script src="{% static 'bs/js/html2canvas.js' %}"></script>
<script>

    $(function() {
        $("#save").click(function() {
            $.ajax({
                url: '{% url "ocr:cam" %}',
                type: 'GET',
                data: {},
                success: function(response) {
                    alert('OCR 완료')
                    $('#cam img').remove()
                    $('#cam').append(`<img src='./static/photo.jpg'>`)
                }
            })
        })
    })

    
    
</script>
    <style>
        td {
            border:1px solid black;
        }
        #output{
            width:300px;
        }
    </style>

{% endblock %}

{% block contents %}

<body class="container" style='overflow: hidden;'>
    <div class='rounded vh-100 m-2 p-2 d-flex justify-content-center align-items-center bg-light'>
        <table>
            <tr>
                <td width='30px'>
                    캠화면 출력됩니다..
                </td>
                <td width='50%'>
                    <div id='cam'>
                        <img src="" alt="">
                    </div>
                </td>
                <td>
                    <div id='output' style="display: inline-block; top: 4px; position: relative ;border: dotted 1px #ccc; padding: 2px;">
                    </div>
                </td>
            </tr>
        </table>
        <div id='btn_div'>
            <button type='button' id='save' style=''>다시실행</button>
        </div> 
    </div>
</body>

{% endblock %}