<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/7460690a88.js" crossorigin="anonymous"></script>

    <script>
        $(function(){
            $('#video_area').hover(function() {
                $(this).animate({'opacity': '0.8'}, 'fast');
            }, function() {
                $(this).animate({'opacity': '1'}, 'fast');
            })

            $("[name='video_url']").focus(function() {
                $(this)[0].placeholder = '';
            })

            $("[name='video_url']").blur(function() {
                $(this)[0].placeholder = 'url을 입력해주세요.';
            })

            $("#url_submit").click(function() {
                $.ajax({
                    url: "{% url 'ocr:enter_call' %}",
                    type: "GET",
                    data: {
                        'video_url': $("[name='video_url']").val()
                    },
                    success: function(res) {
                        if ('error' in res) {
                            alert(res['error']);
                        }
                        $("#url_close").click();
                    }
                })
            })
        })
    </script>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">출입인원 세기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" name="video_url" class='form-control text-center' placeholder='url을 입력해주세요.'/>
      </div>
      <div class="modal-footer">
        <button id='url_close' type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id='url_submit' type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<body class='text-center bg-dark'>
    <div style='position: fixed; left:5%; right:5%; top:5%; border-radius:30px;' class='d-flex justify-content-center align-items-center'>
        <video class='border border-3 border-light' id='video_area' data-bs-target="#exampleModal" data-bs-toggle="modal" style='width: 80%; border-radius: 20px;cursor: pointer;' muted autoplay loop>
            <source src="https://vod-progressive.akamaized.net/exp=1656245149~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F3626%2F17%2F443134423%2F1940911897.mp4~hmac=19bdb9dd460df461562b0a9be374bc9fca4176bc984c7365c2c8bee4baa5a961/vimeo-prod-skyfire-std-us/01/3626/17/443134423/1940911897.mp4">
        </video>
    </div>
</body>
</html>