{% extends 'base.html' %}

{% block src %}
{% load static %}
  
</script>
    <style>


    </style>

{% endblock %}

{% block contents %}

<body class="container" style='overflow: hidden;'>

    <div class='rounded vh-100 m-2 p-2 d-flex justify-content-center align-items-center bg-light' style='overflow: auto  ;'>
        <table>
            <thead>
                <th>도서</th>
                <th>도서명</th>
            </thead>
            <tbody>
                {% for book in crwal %}
                    <tr>
                        <td><img src="{{ book.thumbnail }}" alt=""></td>
                        <td>{{ book.title }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

{% endblock %}