{% extends 'base.html' %}

{% block src %}
{% load static %}
  
</script>
    <style>


    </style>

{% endblock %}

{% block contents %}

<body class="container" style='overflow: hidden;'>

    <div class='rounded vh-100 m-2 p-2 d-flex justify-content-center align-items-center bg-light' style='overflow: auto  ;'>
        <table>
            <thead>
                <th>도서{{ text }}</th>
                <th>도서명</th>
                <th>저자</th>
                <th>출판사</th>
                <th>분야?</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

{% endblock %}